
{{#if dishes.length}}
<section>
  <h2>Your Dishes</h2>
 
    {{#each dishes as |dish|}}
  {{> dashboard-dishinfo dish}}
    {{/each}}
  
</section>
{{/if}}
<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Dish</a></button>
<script src="/javascript/add-dish.js"></script>