<h3> <i class = "fas fa book-reader"></i>Welcome</h3>



<div class="section">
    
    <img class="login-image" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="login-image">
    
    <p class="lead">Share your recipes and search your favorite food recipes</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Log In With Google
    </a>
</div>