@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@300;500;700&family=Roboto:wght@400;700&display=swap');

p {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0 !important;
    font-weight: 700;
}

h3 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
    
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.login-image {
    width: 300px;
    height: 250px;
}